@charset "ISO-8859-1";

body {
	font-family: 'Ubuntu', sans-serif;
	background: url(../IMG/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.menu {
	list-style: none;
	padding: 0;
	background: #00075f;
	width: 100%;
	max-width: 1100px;
	display: block;
	margin: 0 auto 0 auto;
}

.menu li a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
	transition: all .9s ease;
}

.menu li {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.menu li a:hover {
	background: #5662ff;
}

h2 {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: white;
}

input[type=submit] {
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0.5em;
	font-size: 1em;
	border: 1px solid #065066;
	border-radius: 5px;
	border-radius: 5px;
	background: #030063;
	background: -webkit-gradient(linear, left top, left bottom, from(#030063),to(#0f1bff));
	background: -moz-linear-gradient(top, #030063, #0f1bff);
	background: linear-gradient(to bottom, #030063, #0f1bff);
	font: italic normal bold 20px 'Ubuntu';
	color: #ffffff;
	box-shadow: 5px 5px 5px #071D47;
	font-weight: bold;
}

input[type=reset] {
	display: inline-block;
	width: 18%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0.5em;
	font-size: 1em;
	border: 1px solid #065066;
	border-radius: 5px;
	background: #030063;
	background: -webkit-gradient(linear, left top, left bottom, from(#030063),to(#0f1bff));
	background: -moz-linear-gradient(top, #030063, #0f1bff);
	background: linear-gradient(to bottom, #030063, #0f1bff);
	text-shadow: #042f3c 1px 1px 2px;
	font: italic normal bold 20px 'Ubuntu';
	color: #ffffff;
	box-shadow: 5px 5px 5px #071D47;
	font-weight: bold;
	
}

input[type=reset]:hover {
	background: #5662ff;
}

td {
	padding: 0.5em 0.4em;
	border: 0;
	text-align: left;
	background: #1C6EA4;
	font-weight: bold;
}

table {
	margin-left: 120px;
}

input[type=text] {
	width: 65%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid blue;
	color: black;
	text-align: left;
	box-shadow: 5px 5px 5px #071D47;
}

input[type=number] {
	width: 65%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid blue;
	color: black;
	text-align: left;
	box-shadow: 5px 5px 5px #071D47;
	-webkit-appearance: textfield !important;
	margin: 0;
	-moz-appearance: textfield !important;
}

#number {
	width: 3em;
}

.boton1[type=submit] {
	margin-top: 0;
	width: 20%;
	text-align: center;
	cursor: pointer;
	padding: 0.5em;
	font-size: 1em;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #003B5D;
	color: white;
	box-shadow: 5px 5px 5px #071D47;
	font-weight: bold;
	transition: all .9s ease;
}

input[type=submit]:hover {
	background: #5662ff;
}

.texto1[type=text] {
	width: 37%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid blue;
	color: black;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 5px 5px 5px #071D47;
}

input[type=password] {
	width: 65%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid blue;
	color: black;
	text-align: left;
	box-shadow: 5px 5px 5px #071D47;
}

input[type=email] {
	width: 65%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid blue;
	color: black;
	text-align: left;
	box-shadow: 5px 5px 5px #071D47;
}

label {
	font-weight: bold;
	font-style: italic;
	color: white;
	letter-spacing: 1px;
}

.button {
	display: inline-block;
	text-align: center;
	vertical-align: upper;
	padding: 12px 24px;
	border: 1px solid #065066;
	border-radius: 8px;
	background: #030063;
	background: -webkit-gradient(linear, left top, left bottom, from(#030063),to(#0f1bff));
	background: -moz-linear-gradient(top, #030063, #0f1bff);
	background: linear-gradient(to bottom, #030063, #0f1bff);
	text-shadow: #042f3c 1px 1px 2px;
	font: italic normal bold 20px 'Ubuntu';
	color: #ffffff;
	text-decoration: none;

}

.button:hover, .button:focus {
	border: 1px solid #075e78;
	background: #040077;
	background: -webkit-gradient(linear, left top, left bottom, from(#040077),to(#1220ff));
	background: -moz-linear-gradient(top, #040077, #1220ff);
	background: linear-gradient(to bottom, #040077, #1220ff);
	color: #ffffff;
	text-decoration: none;
	transition: all .9s ease;
}

.button:active {
	background: #02003b;
	background: -moz-linear-gradient(top, #02003b, #0f1bff);
	background: linear-gradient(to bottom, #02003b, #0f1bff);
}

.formulario {
	background: #1C6EA4;
	padding: 0px;
	display: block;
	margin: 0 auto 0 auto;
	width: 1100px;
	height: 450px;
}

.header {
	display: block;
	margin: 0 auto 0 auto;
	width: 1100px;
	height: 100px;
	padding: 0px;
}

.footer {
	display: block;
	margin: 0 auto 0 auto;
	width: 1100px;
	height: 150px;
	padding: 0px;
}

.const {
	display: block;
	margin: 0 auto 0 auto;
	width: 1100px;
	height: 450px;
	padding: 0px;
}

.tablaMenu {
	margin-left: 30px;
	align: center;
	margin-right: 30px;
	padding: 0;
}

b {
	color: #00075f;
}

p {
	color: white;
}

.nprod {
	color: white;
}

.indexError {
	color: #1C6EA4;
}

.active {
	background: #1C6EA4;
}

.consultas {
	color: #1C6EA4;
}

.subir{
    display: inline-block;
	text-align: center;
	vertical-align: upper;
	padding: 12px 24px;
	border: 1px solid #065066;
	background: #030063;
	background: -webkit-gradient(linear, left top, left bottom, from(#030063),to(#0f1bff));
	background: -moz-linear-gradient(top, #030063, #0f1bff);
	background: linear-gradient(to bottom, #030063, #0f1bff);
	text-shadow: #042f3c 1px 1px 2px;
	font: italic normal bold 20px 'Ubuntu';
	color: #ffffff;
	text-decoration: none;
	transition: all .9s ease;
	
}
 
.subir:hover{
    border: 1px solid #075e78;
	background: #040077;
	background: -webkit-gradient(linear, left top, left bottom, from(#040077),to(#1220ff));
	background: -moz-linear-gradient(top, #040077, #1220ff);
	background: linear-gradient(to bottom, #040077, #1220ff);
	color: #ffffff;
	text-decoration: none;
	transition: all .9s ease;
}

.info{
	margin-top: 20px;
	font-weight: bold;
	font-style: italic;
	color: white;
	letter-spacing: 5px;	
}